<!DOCTYPE html>
<html>
<head>
	<title>Coin Exchange</title>
	{% include 'scripts.html' %}
</head>
<body>
	<div ng-app="coinex" ng-controller="myController">
		<div>
			<div id="error"></div>
			{% block table1 %}
			<div class="table">
				<div class="table-1-row">
					<div class="table-1-col">
						Cryptocurrency: 
						<select id="coin" ng-model="coin" ng-change="calculate()">
							<option value="BTC" selected>Bitcoin (BTC)</option>
							<option value="ETH">Ethereum (ETH)</option>
						</select>
					</div>
					<div class="table-1-col">
						Currency: 
						<select id="currency" ng-model="currency" ng-change="changeSymbol();calculate()">
							<option value="EUR">EUR</option>
							<option value="INR">INR</option>
							<option value="JPY">JPY</option>
							<option value="USD" selected>USD</option>
						</select>
					</div>
					<div class="table-1-col">
						Purchase date: <input type="date" ng-model="purchase_date" max="{{ today }}" ng-change="calculate()">
					</div>
				</div>

				<div class="table-1-row">
					<div class="table-1-col">
						Amount: <input id="amount" type="number" ng-model="amount" ng-change="calculate()">
					</div>
					<div>
						Sell Date: <input type="date" ng-model="sell_date" max="{{ today }}" ng-change="calculate()">
					</div>
				</div>
				<button ng-click="calculate()">Calculate</button>
			</div>
			{% endblock %}

			{% block table2 %}
			<div class="table">
				<div id="profit">
					{% verbatim %}
					{{ symbol }} {{ profit }}
				</div>
				<div id="info">
					<p>You bought {{ amount }} {{ coin }} @ {{ purchase_price }} Price worth {{ symbol }} {{ amount * purchase_price }}</p>
					<p>You sold {{ amount }} {{ coin }} @ {{ sell_price }} Price worth {{ symbol }} {{ amount * sell_price }}</p>
					<p>Your {{ proloss }} is {{ symbol }} {{ profit | makePositive }}</p>
					<p>Your tax on this profit will be {{ symbol }} {{ tax }}</p>
					{% endverbatim %}
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
</body>
</html>